<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HitCounter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HitCounter</display-name>
    <servlet-name>HitCounter</servlet-name>
    <servlet-class>com.bridgeit.hitCounter.HitCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitCounter</servlet-name>
    <url-pattern>/HitCounter</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>HitCounter1</display-name>
    <servlet-name>HitCounter1</servlet-name>
    <servlet-class>com.bridgeit.hitCounter.HitCounter1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitCounter1</servlet-name>
    <url-pattern>/HitCounter1</url-pattern>
  </servlet-mapping>
</web-app>